body{
    background: lightgray;
}

header{
    filter: grayscale(100%);
    position: sticky;
    display: inline-block;
    width: 100%;
    height: 30px;
}

.Picture{
    filter: grayscale(100%);
    position: relative;
    text-align: center;
    width: 10%;
    height: 10%;
    margin: 300px 10px 150px 50px;
    margin: 340px 120px 0px 90px;
}

.About{
    position: relative;
    text-align: left;
    width: 45%;
    background-color: ghostwhite;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    padding: 50px 50px 70px 50px;
    margin: 300px 0px 100px 300px;
}

.Education{
    position: relative;
    text-align: center;
    width: 20%;
    background-color: ghostwhite;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    padding: 70px 50px 70px 50px;
    margin: 40px 40px 40px 150px;
}

.Experience{
    position: relative;
    text-align: center;
    width: 20%;
    background-color: ghostwhite;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    padding: 70px 50px 70px 50px;
    margin: 40px 40px 40px 40px;
}

.Skills{
    position: relative;
    text-align: center;
    width: 20%;
    background-color: ghostwhite;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    padding: 70px 50px 70px 50px;
    margin: 40px 40px 40px 40px;
}

footer{
    background-color: rgb(52, 52, 52);
    font-size: 1.2em;
    color: #fff;
    text-align: center;
    padding: 0.8em  3.0em 0;
}

#iconFooter{
    display: inline-block;
    list-style: none;
    letter-spacing: 15px;
    margin-right: 70px;
}

footer ul li{
    display: inline-block;
    margin-right: 20px;
}
